	#configuration data
	#traffic semaphore,transit_officer, jungle
	#traffic control method bridge1
TCMB1=jungle
	#semaphore_time bridge 1 (seconds)
S_Time_right1=3
S_Time_left1=2
	#traffic control method bridge2
TCMB2=transit_officer
	#semaphore_time bridge 2 (seconds)
S_Time_right2=1
S_Time_left2=2
	#traffic control method bridge3
TCMB3=jungle
	#semaphore_time bridge 3 (seconds)
S_Time_right3=3
S_Time_left3=4
	#Cars average speed 0-100 km / h
AverageSpeed=40
	#amount of K cars when a transit officer is at bridge
k=2
	#percentage of ambulances
ambulancesPercentage=40
	#percentage of radioactive cars
radioActiveCarsPercentage=10
	#type of scheduling algoritm --> options: round_robin, real_time, lottery
scheduler=round_robin
	#median distribution cte=
median_distribution=0.6


